.todo {
  display: block;
}

.container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.name-pokemon{
  display: flex;
}

.type-pokemon {
  display: flex;
}
